@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffa68b;
  --just_pink: #FF8A65;
  --just_yellow: #ffc400;
  --just_red: #f34954;
  --just_gray: #333333;
}

/* @font-face {
  font-family: "LilitaOne";
  src: url("/fonts/LilitaOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
} */

body {
  background: var(--background);
  font-family:  sans-serif !important;
}

